@font-face{font-family:AlJazeeraRegular;src:url(font/Al-Jazeera-Arabic-Regular.ttf)}
@font-face{font-family:AlJazeeraLight;src:url(font/Al-Jazeera-Arabic-Light.ttf)}
@font-face{font-family:AlJazeeraBold;src:url(font/Al-Jazeera-Arabic-Bold.ttf)}
@font-face{font-family:FontAwesome;src:url(font/FontAwesome.otf)}
@font-face{font-family:fontawesome-webfont;src:url(font/fontawesome-webfont.eot)}
@font-face{font-family:fontawesome-webfont;src:url(font/fontawesome-webfont.ttf)}
@font-face{font-family:fontawesome-webfont;src:url(font/fontawesome-webfont.woff)}
@font-face{font-family:fontawesome-webfont;src:url(font/fontawesome-webfont.woff2)}
@font-face{font-family:JF;src:url(font/JF.TTF)}
